*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: black;
    color: white;
}

#d{
    width: 100%;
    height: initial;
    background-color: rgb(46, 46, 45);
    padding: 2px;
    border-radius: 50px;
    position: sticky;
}

#h{
    display: flex;
    align-items: center;
    justify-content: center;
}

#h:hover{
    color: aqua;
    transition: color 0.5s ease;    
}

#ip{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: large;
}